@model MvcMovie.Models.Employe

<h2>Supprimer l'Employé</h2>

<p>Êtes-vous sûr de vouloir supprimer l'Employé <strong>@Model.Email</strong> ?</p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Supprimer</button>
    <a asp-action="Index" class="btn btn-secondary">Annuler</a>
</form>
